/*****************
DEFAULT
*****************/

@import url('https://fonts.googleapis.com/css?family=Cabin|Old+Standard+TT');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html{
    font-size:20px;
    line-height:1.5;
/*    font-family:sans-serif;*/
}

h1, h2, h3, h4{
    font-family: Cabin, Arial, Helvetica, sans-serif;
}

p, button{
    font-family: "Old Standard TT", Times, "Times New Roman", serif;
}
/*****************
LAYOUT
*****************/
.page{
    display:none;
    padding:1rem;
    margin-top:3rem;
}
.page.active{
    display:block;
}
.not{
    display:none;
}

#attribute{

    position:fixed;
    width:10rem;
    bottom:1rem;
    right:1rem;

}

h4::before{
/*    content:"Movie ID: "*/
}
/*
.attribution{
    padding:1rem;
    position:fixed;
    bottom:1px;
    right:1px;
}
*/
#details-title{
    position:relative;
    bottom:521px;
}
.loading{
    height:2500px;
    width:2200px;
    background-color:dimgrey;
    opacity:0.5;
    z-index: 150;
    position:fixed;
    bottom:0px;
}
.loading p{
    z-index:150;
    font-size:10rem;
    position:fixed;
    top:50%;
    right:50%;
/*
    animation-name: spin;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 1s;
*/
    animation: spin 0.5s infinite linear;
}

@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(-359deg);
    }
}
/*****************
SEARCH BAR
*****************/
.search{
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:3rem;
    border-bottom:1px solid #333;
    
    background-color:white;
    z-index:100;
    box-shadow:0 2px 4px #000;
    transition:top 0.5s ease-in-out;
}

.icon{
    
    transform: translateX(-200%);
    transition: all 0.4s linear;
    
}

.icon.home2{
/*    float:left;*/
    transform: translateX(0);
    text-align: center;
}
.home{
    position:fixed;
    top:60%;
    border:1px solid #333;
    
}

#search-button{
    position:absolute;
    top:0;
    right:0;
    width:3rem;
    height:3rem;
    
    z-index:120;
    padding:0.5rem;
    cursor:pointer;
}
#return-button{
    position:absolute;
    top:0;
    left:0;
    width:3rem;
    height:3rem;
/*    background-color:#dedede;*/
    z-index:120;
    padding:0.5rem;
    cursor:pointer;
}
#search-input{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:110;
    padding-left:3.5rem;
    font-size:1.8rem;
}
/*****************
SEARCH RESULTS
*****************/
.movie{
    border: 1px solid #bbb;
    padding:1rem;
    overflow:auto;
    clear:both;
    position:relative;
    bottom:521px;
    margin:0.5rem;
    box-shadow: 8px 8px 8px #888888;

}

.num{
    position:relative;
    bottom:521px;
}
.poster{
    float:left;
    background-color:#ddd;
    width:150px;
    height:auto;
    min-height:150px;
    margin:0 1rem 1rem 0;
    cursor:pointer;


}
.movie-title{
    font-size:2rem;
    display:inline;
    cursor:pointer;
}
.movie-desc{
    font-size:1rem;
    color:#999;
}
/*****************
RECOMMENDATIONS
*****************/

/*****************
MISC
*****************/

.fancyButton{
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-size:0.8rem;
    height:1.5rem;
    width:15rem;
    border-radius: 12px;
    transition:background-color 0.5s ease-in-out;
    cursor:pointer;
}

.fancyButton:hover {
    background-color: #555555;
    color: white;
}
